<!doctype html>
<html ng-app="calcApp">
<head>
    <title>RTDDE.CalculatorPrototype</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h2>RTDDE.Calculator<small> Prototype</small></h2>
    <div ng-controller="CalculatorController as calc">
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary btn-block" ng-click="calc.execAttack()">Calculate</button>
            </div>
            <div class="col-md-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="calc.enable6ptChecked" />Check to use 6pt
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" ng-repeat="unit in calc.unitData" ng-if="($index<4 && !calc.enable6ptChecked)||calc.enable6ptChecked">
                <label>Unit{{$index+1}}</label>
                <div class="form-group form-group-sm">
                    <div class="input-group">
                        <div class="input-group-addon">Level</div>
                        <input class="form-control" type="number" ng-model="calc.unitData[$index].lv" placeholder="Level" min="1">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="input-group">
                        <div class="input-group-addon">Attack</div>
                        <input class="form-control" type="number" ng-model="calc.unitData[$index].atk" placeholder="Attack" min="0">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="input-group">
                        <div class="input-group-addon">Class</div>
                        <select class="form-control" ng-model="calc.unitData[$index].actClass"
                                ng-options="calc.actClasses.indexOf(selectedItem) as selectedItem for selectedItem in calc.actClasses">
                            selectedItem: {{calc.unitData[$index].actClass}}
                        </select>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="input-group">
                        <div class="input-group-addon">AttackCnt</div>
                        <input class="form-control" type="number" ng-model="calc.unitData[$index].attackCnt" placeholder="Count" maxlength="2" min="0">
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li ng-repeat="damage in unit.damage">
                        <label>{{damage.combo}}C</label>
                        <span ng-bind-template="{{damage.min}}~{{damage.max}}({{damage.avg}})">Calculating...</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Total</label>
                <span ng-bind-template="{{calc.totalDamage.min}}~{{calc.totalDamage.max}}({{calc.totalDamage.avg}})">Calculating...</span>
            </div>
        </div>
    </div>
    <script src="Scripts/jquery-2.1.4.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="calc.js"></script>
    <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-68987659-1");
            pageTracker._trackPageview();
            } catch(err) {}
    </script>
</body>
</html>